<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<!--/*/ <th:block th:include="fragments/head :: head"/> /*/-->
		<script th:inline="javascript">
		/*<![CDATA[*/
		$(document).ready(function() {
			var editor; 
			
			var restlnk = "/api/admin/globalvars/"
			
			editor = new $.fn.dataTable.Editor( {
					ajax: {
						create: {
							type: 'POST',
							dataType: "json",
							contentType: "application/json; charset=utf-8",
							url: restlnk ,
							data: function ( d ) {
								return JSON.stringify( d['data'] );
							}
						},
						edit: {
							type: 'PUT',
							dataType: "json",
							contentType: "application/json; charset=utf-8",
							url: restlnk,
							data: function ( d ) {
								return JSON.stringify( d['data'] );
							}
						},
						remove: {
							type: 'POST',
							contentType: "application/json; charset=utf-8",
							dataType: "json",
							url: restlnk + "delete",
							data: function ( d ) {
								return JSON.stringify( d['data'] );
							}
						}
					},
					table: "#infernalbotmanager-datatable-globalvars",
					fields: [{
						label: "ID",
						name: "id",
						def: "0",
						type: 'readonly'
					},{
						label: "Name",
						name: "name"
					},{
						label: "Value",
						name: "value"
					}],
					idSrc:'id'
			} );
		
			var table = $('#infernalbotmanager-datatable-globalvars').DataTable( {
				responsive: true,
				dom: "<'row'<'col-9'B><'col-3 float-right'f>>rtip",
				pageLength: 50,
				ajax:{
					"url": restlnk ,
					"dataSrc": "data",
					"dataType": "json",
					"cache": false,
					"contentType": "application/json; charset=utf-8"
				},
				columns: [
				{ data: "id" },
				{ data: "name"},
				{ data: "value" }
				],
				select: true,
				buttons: [
				{ extend: "create", editor: editor },
				{ extend: "edit",   editor: editor },
				{ extend: "remove", editor: editor },
				{
					extend: 'collection',
					text: 'Export',
					buttons: [
						'copy',
						'excel',
						'csv',
						'pdf',
						'print'
					]
				}
				]
			} );
			
			
		} );/*]]>*/
		</script>
	</head>
	<body>
		<!--/*/ <th:block th:include="fragments/mainNav :: mainNav"/> /*/-->
		<br/>
		<table id="infernalbotmanager-datatable-globalvars" class="table table-striped table-bordered" width="100%" >
			<thead>
				<tr>
					<th>ID</th>
					<th>Name</th>
					<th>Value</th>
				</tr>
			</thead>
		</table>
	</body>
</html>