<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	<head>
		<!--/*/ <th:block th:include="fragments/head :: head"/> /*/-->
	</head>
	<body>
		<!--/*/ <th:block th:include="fragments/mainNav :: mainNav"/> /*/-->
		<br/>
		<div class="container">
			<div class="row">
				<div class="col-6 offset-3">
					<h3 th:text="${'Admin Panel'}" class="text-center">Admin Panel</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-6 offset-3">
					<a th:href="@{'/admin/users/'}" class="btn btn-secondary btn-block">Users</a>
				</div>
			</div>
			<br />
			<div class="row">
				<div class="col-6 offset-3">
					<a th:href="@{'/admin/globalvars/'}" class="btn btn-secondary btn-block">Global Variables</a>
				</div>
			</div>
			<br />			
			<div class="row">
				<div class="col-6 offset-3">
					<a th:href="@{'/admin/files/'}" class="btn btn-secondary btn-block">Files</a>
				</div>
			</div>
		</div>
	</body>
</html>