<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<!--/*/ <th:block th:include="fragments/head :: head"/> /*/-->
	</head>
	<body>
		<div class="container-fluid">
			<div class="row">
				<!--/*/ <th:block th:include="fragments/mainNav :: mainNav"/> /*/-->
			</div>
			<div class="row">
				<div th:if="${errors}" class="col-xs-6 col-xs-offset-3">
					<div th:each="error : ${errors}" th:inline="text" class='alert alert-danger'>
						[[${error}]].
						<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-6 col-xs-offset-3">
					<form id="ng-submitform" th:action="@{'/accounts/' + ${twitterAccount.id} + '/edit.html'}" th:object="${twitterAccount}" method="post">
						<div class="form-group row">
							<label for="accountid" class="form-label">ID</label>
							<input id="accountid" type="text" th:field="*{id}" class="form-control" readonly="readonly"/> 
						</div>
						<div class="form-group row">
							<label for="handle" class="form-label">Handle</label>
							<input id="handle" type="text" th:field="*{handle}" class="form-control" /> 
						</div>
						<div class="form-group row">
							<label for="twitterApiCode" class="form-label">Api Key</label>
							<select id="twitterApiCode" th:field="*{twitterApiCode}" class="form-control" size="2" multiple="multiple">
								<option th:each="apiKey : ${apiKeys}"
									th:value="${apiKey.id}"
									th:text="${apiKey.handle}">-</option>
							</select>
						</div>
						<div class="form-group row">
							<label for="accessToken" class="form-label"  >Access token</label>
							<input id="accessToken" type="text" th:field="*{accessToken}" class="form-control"/> 
						</div>
						<div class="form-group row">
							<label for="accessTokenSecret" class="form-label"  >Access token secret</label>
							<input id="accessTokenSecret" type="text" th:field="*{accessTokenSecret}" class="form-control"/> 
						</div>
						<div class="form-group row">
							<input id="enabled" name="enabled"  type="checkbox" th:field="*{enabled}" class="pull-right"/>
							<label for="enabled" class="form-label">Enabled</label>
						</div>
						<input id="user" type="hidden" th:field="*{user}" class="form-control"/> 
						<div class="form-group row">
							<button type="submit" id="ng-submitbut" class="form-control btn btn-default">Edit account</button>
						</div>
					</form>
					<div class="form-group row">
						<a th:href="@{'/accounts/' + ${twitterAccount.id} + '/edit/twitter'}" class="form-control btn btn-default">Import from Twitter</a>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>