<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<!--/*/ <th:block th:include="fragments/head :: head"/> /*/-->
		<script th:inline="javascript">
		/*<![CDATA[*/
		$(document).ready(function() {
			var editor; // use a global for the submit and return data rendering in the examples
			//var ajaxBase = {
			//		dataSrc: "",
			//		dataType: "json",
			//		contentType: "application/json; charset=utf-8",
			//		processData: "false",
			//		url: "/api/accounts/user/" + /*[[${currentUser.id}]]*/ 
			//};
			
			$(document).ready(function() {
				var restlnk = "/api/accounts/user/" + /*[[${currentUser.id}]]*/
				editor = new $.fn.dataTable.Editor( {
						ajax: {
							create: {
								type: 'POST',
								dataType: "json",
								contentType: "application/json; charset=utf-8",
								url: restlnk ,
								data: function ( d ) {
									var tmp = d['data'];
									tmp = tmp[Object.keys(tmp)[0]];
									d = tmp;
									return JSON.stringify( d );
								}
							},
							edit: {
								type: 'PUT',
								dataType: "json",
								contentType: "application/json; charset=utf-8",
								url: restlnk,
								data: function ( d ) {
									var tmp = d['data'];
									tmp = $.map(tmp, function(el) { return el; })
									d = tmp;
									return JSON.stringify( d );
								}
							},
							remove: {
								type: 'POST',
								contentType: "application/json; charset=utf-8",
								dataType: "json",
								url: restlnk + "/delete",
								data: function ( d ) {
									var tmp = d['data'];
									tmp = $.map(tmp, function(el) { return el; })
									d = tmp;
									return JSON.stringify( d );
								}
							}
						},
						table: "#leagueinformer-datatable-accounts",
						fields: [ {
							label: "ID:",
							name: "id"
						}, {
							label: "Username",
							name: "username"
						}, {
							label: "Password:",
							name: "password"
						}, {
							label: "Region:",
							name: "region"
						}, {
							label: "Enabled:",
							name: "enabled",
							type: "checkbox",
							options: [
								{ label: "", value: true }
							],
							separator: '',
							unselectedValue: false,
						}],
						idSrc:'id'
				} );
			
				$('#leagueinformer-datatable-accounts').DataTable( {
					dom: "Bfrtip",
					ajax:{
						"url": "/api/accounts/user/" + /*[[${currentUser.id}]]*/ ,
						"dataSrc": "data",
						"dataType": "json",
						"cache": false,
						"contentType": "application/json; charset=utf-8"
					},
					columns: [
					{ data: "id" },
					{ data: "username" },
					{ data: "password" },
					{ data: "region" },
					{ data: "enabled"}
					],
					select: true,
					buttons: [
					{ extend: "create", editor: editor },
					{ extend: "edit",   editor: editor },
					{ extend: "remove", editor: editor }
					]
				} );
			} );
		} );/*]]>*/
		</script>
	</head>
	<body>
		<div class="container">
			<div class="row">
				<!--/*/ <th:block th:include="fragments/mainNav :: mainNav"/> /*/-->
			</div>
			<div class="row">
				<div class="col-xs-12">
					<table id="leagueinformer-datatable-accounts" class="table table-striped table-bordered" width="100%" >
						<thead>
							<tr>
								<th>ID</th>
								<th>Username</th>
								<th>Password</th>
								<th>Region</th>
								<th>Enabled</th>
							</tr>
						</thead>
					</table>
				</div>
			</div>
		</div>
	</body>
</html>