<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<!--/*/ <th:block th:include="fragments/head :: head"/> /*/-->
		<script th:inline="javascript">
		/*<![CDATA[*/
		$(document).ready(function() {
			var editor; // use a global for the submit and return data rendering in the examples
			$(document).ready(function() {
				editor = new $.fn.dataTable.Editor( {
						ajax: {
							create: {
								type: 'POST',
								url:  '/api/TODO'
							},
							edit: {
								type: 'PUT',
								url:  '/api/TODO'
							},
							remove: {
								type: 'DELETE',
								url:  '/api/TODO'
							}
						},
						table: "#leagueinformer-datatable-accounts",
						fields: [ {
							label: "ID:",
							name: "id"
						}, {
							label: "Username",
							name: "username"
						}, {
							label: "Password:",
							name: "password"
						}, {
							label: "Region:",
							name: "region"
						}, {
							label: "Enabled:",
							name: "enabled"
						}
						],
						idSrc:'id',
				} );
			
				$('#leagueinformer-datatable-accounts').DataTable( {
					dom: "Bfrtip",
					ajax:{
						"url": "/api/accounts/user/" + /*[[${currentUser.id}]]*/ ,
						"dataSrc": "",
						"dataType": "json",
						"cache": false,
						"contentType": "application/json; charset=utf-8"
					},
					columns: [
					{ data: "id" },
					{ data: "username" },
					{ data: "password" },
					{ data: "region" },
					{ data: "enabled"}
					],
					select: true,
					buttons: [
					{ extend: "create", editor: editor },
					{ extend: "edit",   editor: editor },
					{ extend: "remove", editor: editor }
					]
				} );
			} );
		} );/*]]>*/
		</script>
	</head>
	<body>
		<div class="container">
			<div class="row">
				<!--/*/ <th:block th:include="fragments/mainNav :: mainNav"/> /*/-->
			</div>
			<div class="row">
				<div class="col-xs-12">
					<table id="leagueinformer-datatable-accounts" class="table table-striped table-bordered" width="100%" >
						<thead>
							<tr>
								<th>ID</th>
								<th>Username</th>
								<th>Password</th>
								<th>Region</th>
								<th>Enabled</th>
							</tr>
						</thead>
					</table>
				</div>
			</div>
		</div>
	</body>
</html>