<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<!-- Console log appender -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>INFO</level>
		</filter>
	 	<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] %logger{0} - %msg%n</pattern>
		</encoder>
	</appender>
<!-- Normal file log appender -->
	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>logs/info.log</file>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>INFO</level>
		</filter>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] %logger{0} - %msg%n</pattern>
		</encoder>
	</appender>
<!-- Requests file log appender -->
	<appender name="requests" class="ch.qos.logback.core.FileAppender" >
		<file>logs/requests.log</file>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] %logger{0} - %msg%n</pattern>
		</encoder>
	</appender> 

	<root level="INFO">
		<appender-ref ref="FILE" />
		<appender-ref ref="STDOUT" />
	</root>

	<logger name="org.springframework.web" additivity="false">
		<level value="INFO" />
		<appender-ref ref="FILE" />
		<appender-ref ref="STDOUT" />
	</logger>
	
	<logger name="org.hibernate" additivity="false">
		<level value="ERROR" />
		<appender-ref ref="FILE" />
		<appender-ref ref="STDOUT" />
	</logger>

	<logger name="org.thymeleaf" additivity="false">
		<level value="ERROR" />
		<appender-ref ref="FILE" />
		<appender-ref ref="STDOUT" />
	</logger>
	
	<logger name="org.springframework.web.filter.CommonsRequestLoggingFilter">
		<level value="DEBUG" />
		<appender-ref ref="requests" />
	</logger>

</configuration>