<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<!--/*/ <th:block th:include="fragments/head :: head"/> /*/-->
	</head>
	<body>
		<!--/*/ <th:block th:include="fragments/mainNav :: mainNav"/> /*/-->
		<br />
		<div class="container">
			<form th:action="@{/infernalsettings}" th:object="${settings}" method="POST" enctype="utf8">
				<div class ="form-group row">
					<label for="settingsGroups" class="col-sm-2 col-form-label">Groups</label>
					<div class="col-sm-10">
						<input type="number" min="1" max="99" class="form-control" th:errorclass="is-invalid" th:errorclass="is-invalid" id="settingsGroups" th:field="*{groups}"/>
						<div th:if="${#fields.hasErrors('*{groups}')}" class="invalid-feedback" th:errors="*{groups}">Incorrect Groups</div>
					</div>
				</div>
				<div class ="form-group row" >
					<label for="settingsClientPath" class="col-sm-2 col-form-label">Client Path</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" th:errorclass="is-invalid" th:errorclass="is-invalid" id="settingsClientPath" th:field="*{clientPath}"/>
						<div th:if="${#fields.hasErrors('*{clientPath}')}" class="invalid-feedback" th:errors="*{clientPath}">Incorrect Client Path</div>
					</div>
				</div>
				<div class ="form-group row">
					<label for="settingsClientVersion" class="col-sm-2 col-form-label">Client Version</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" th:errorclass="is-invalid" th:errorclass="is-invalid" id="settingsClientVersion" th:field="*{clientVersion}"/>
						<div th:if="${#fields.hasErrors('clientVersion')}" class="invalid-feedback" th:errors="*{clientVersion}">Incorrect Client Version</div>
					</div>
				</div>
				<div class ="form-group row">
					<label for="settingsTimeSpan" class="col-sm-2 col-form-label">Time Between Queuers</label>
					<div class="col-sm-10">
						<input type="number" min="1" max="999" class="form-control" th:errorclass="is-invalid" id="settingsTimeSpan" th:field="*{timeSpan}"/>
						<div th:if="${#fields.hasErrors('timeSpan')}" class="invalid-feedback" th:errors="*{timeSpan}">Incorrect Time Between Queuers</div>
					</div>
				</div>
				<div class ="form-group row">
					<label for="settingsAutoLogin" class="col-sm-2 col-form-label">Auto Login</label>
					<div class="col-sm-10">
						<select class="form-control" th:errorclass="is-invalid" th:errorclass="is-invalid" id="settingsAutoLogin" th:field="*{autoLogin}">
						
							<option value="true">Yes</option>
							<option value="false">No</option>
						</select>
					</div>
				</div>
				<div class ="form-group row">
					<label for="settingsAutoBotStart" class="col-sm-2 col-form-label">Auto Bot Start</label>
					<div class="col-sm-10">
						<select class="form-control" th:errorclass="is-invalid" th:errorclass="is-invalid" id="settingsAutoBotStart" th:field="*{autoBotStart}">
							<option value="true">Yes</option>
							<option value="false">No</option>
						</select>
						<div th:if="${#fields.hasErrors('autoBotStart')}" class="invalid-feedback" th:errors="*{autoBotStart}">Incorrect Auto Bot Start</div>
					</div>
				</div>
				<div class ="form-group row">
					<label for="settingsWildcard" class="col-sm-2 col-form-label">Wildcard</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" th:errorclass="is-invalid" th:errorclass="is-invalid" id="settingsWildcard" th:field="*{wildcard}"/>
						<div th:if="${#fields.hasErrors('wildcard')}" class="invalid-feedback" th:errors="*{wildcard}">Incorrect Wildcard</div>
					</div>
				</div>
				<div class ="form-group row">
					<label for="settingsMaxLevel" class="col-sm-2 col-form-label">Default Max Level</label>
					<div class="col-sm-10">
						<input type="number" min="0" max="99" class="form-control" th:errorclass="is-invalid" th:errorclass="is-invalid" id="settingsMaxLevel" th:field="*{maxLevel}"/>
						<div th:if="${#fields.hasErrors('maxLevel')}" class="invalid-feedback" th:errors="*{maxLevel}">Incorrect Max Level</div>
					</div>
				</div>
				<div class ="form-group row">
					<label for="settingsSleepTime" class="col-sm-2 col-form-label">Default Sleep Time</label>
					<div class="col-sm-10">
						<input type="number" min="0" max="24" class="form-control" th:errorclass="is-invalid" th:errorclass="is-invalid" id="settingsSleepTime" th:field="*{sleepTime}"/>
					</div>
				</div>
				<div class ="form-group row">
					<label for="settingsPlayTime" class="col-sm-2 col-form-label">Default Play Time</label>
					<div class="col-sm-10">
						<input type="number" min="0" max="24" class="form-control" th:errorclass="is-invalid" th:errorclass="is-invalid" id="settingsPlayTime" th:field="*{playTime}"/>
					</div>
				</div>
				<div class ="form-group row">
					<label for="settingsMaxBe" class="col-sm-2 col-form-label">Default Max BE</label>
					<div class="col-sm-10">
						<input type="number" min="0" max="999999" class="form-control" th:errorclass="is-invalid" id="settingsMaxBe" th:field="*{maxBe}"/>
					</div>
				</div>
				<div class ="form-group row">
					<label for="settingsRegione" class="col-sm-2 col-form-label">Default Region</label>
					<div class="col-sm-10">
						<select class="form-control" th:errorclass="is-invalid" id="settingsRegion" th:field="*{region}">
							<option value="EUW">EUW</option>
							<option value="NA">NA</option>
							<option value="EUNE">EUNE</option>
							<option value="BR">BR</option>
							<option value="LAN">LAN</option>
							<option value="LAS">LAS</option>
							<option value="OCE">OCE</option>
							<option value="RU">RU</option>
							<option value="TR">TR</option>
						</select>
					</div>
				</div>
				<div class ="form-group row">
					<label for="settingsAktive" class="col-sm-2 col-form-label">Default Active</label>
					<div class="col-sm-10">
						<select class="form-control" th:errorclass="is-invalid" id="settingsAktive" th:field="*{aktive}">
							<option value="true">Yes</option>
							<option value="false">No</option>
						</select>
					</div>
				</div>
				<div class ="form-group row">
					<label for="settingsSurrender" class="col-sm-2 col-form-label">Surrender</label>
					<div class="col-sm-10">
						<select class="form-control" th:errorclass="is-invalid" id="settingsSurrender" th:field="*{surrender}">
							<option value="true">Yes</option>
							<option value="false">No</option>
						</select>
					</div>
				</div>
				<div class ="form-group row">
					<label for="settingsLevelToBeginnerBot" class="col-sm-2 col-form-label">Medium Bots From Level</label>
					<div class="col-sm-10">
						<input type="number" min="1" max="99" class="form-control" th:errorclass="is-invalid"  id="settingsLevelToBeginnerBot" th:field="*{levelToBeginnerBot}"/>
					</div>
				</div>
				<div class ="form-group row">
					<label for="settingsClientHide" class="col-sm-2 col-form-label">Client Hide</label>
					<div class="col-sm-10">
						<select class="form-control" th:errorclass="is-invalid" id="settingsClientHide" th:field="*{clientHide}">
							<option value="true">Yes</option>
							<option value="false">No</option>
						</select>
					</div>
				</div>
				<div class ="form-group row">
					<label for="settingsLeaderHide" class="col-sm-2 col-form-label">Leader Client Hide</label>
					<div class="col-sm-10">
						<select class="form-control" th:errorclass="is-invalid" id="settingsLeaderHide" th:field="*{leaderHide}">
							<option value="true">Yes</option>
							<option value="false">No</option>
						</select>
					</div>
				</div>
				<div class ="form-group row">
					<label for="settingsConsoleHide" class="col-sm-2 col-form-label">Console hide</label>
					<div class="col-sm-10">
						<select class="form-control" th:errorclass="is-invalid" id="settingsConsoleHide" th:field="*{consoleHide}">
							<option value="true">Yes</option>
							<option value="false">No</option>
						</select>
					</div>
				</div>
				<div class ="form-group row">
					<label for="settingsSoftEndDefault" class="col-sm-2 col-form-label">Queuer Safestop</label>
					<div class="col-sm-10">
						<select class="form-control" th:errorclass="is-invalid" id="settingsSoftEndDefault" th:field="*{softEndDefault}">
							<option value="true">Yes</option>
							<option value="false">No</option>
						</select>
					</div>
				</div>
				<div class ="form-group row">
					<label for="settingsSoftEndValue" class="col-sm-2 col-form-label">Safestop After x Games</label>
					<div class="col-sm-10">
						<input type="number" min="1" max="999" class="form-control" th:errorclass="is-invalid" id="settingsSoftEndValue" th:field="*{softEndValue}"/>
					</div>
				</div>
				<div class ="form-group row">
					<label for="settingsQueuerAutoClose" class="col-sm-2 col-form-label">Queuer Autorestart</label>
					<div class="col-sm-10">
						<select class="form-control" th:errorclass="is-invalid" id="settingsQueuerAutoClose" th:field="*{queuerAutoClose}">
							<option value="true">Yes</option>
							<option value="false">No</option>
						</select>
					</div>
				</div>
				<div class ="form-group row">
					<label for="settingsQueueCloseValue" class="col-sm-2 col-form-label">Autorestart After x Games</label>
					<div class="col-sm-10">
						<input type="number" min="1" max="999" class="form-control" th:errorclass="is-invalid" id="settingsQueueCloseValue" th:field="*{queueCloseValue}"/>
					</div>
				</div>
				<div class ="form-group row">
					<label for="settingsWinReboot" class="col-sm-2 col-form-label">Windows Reboot After Safestop</label>
					<div class="col-sm-10">
						<select class="form-control" th:errorclass="is-invalid" id="settingsWinReboot" th:field="*{winReboot}">
							<option value="true">Yes</option>
							<option value="false">No</option>
						</select>
					</div>
				</div>
				<div class ="form-group row">
					<label for="settingsWinShutDown" class="col-sm-2 col-form-label">Windows Shutdown After Safestop</label>
					<div class="col-sm-10">
						<select class="form-control" th:errorclass="is-invalid" id="settingsWinShutDown" th:field="*{winShutdown}">
							<option value="true">Yes</option>
							<option value="false">No</option>
						</select>
					</div>
				</div>
				<div class ="form-group row">
					<label for="settingsTimeUntilCheck" class="col-sm-2 col-form-label">Windows Reboot After Time</label>
					<div class="col-sm-10">
						<select class="form-control" th:errorclass="is-invalid" id="settingsTimeUntilCheck" th:field="*{timeUntilCheck}">
							<option value="true">Yes</option>
							<option value="false">No</option>
						</select>
					</div>
				</div>
				<div class ="form-group row">
					<label for="timeUntilReboot" class="col-sm-2 col-form-label">Windows Reboot Timer</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" th:errorclass="is-invalid" id="timeUntilReboot" th:field="*{timeUntilReboot}"/>
					</div>
				</div>
				<div class ="form-group row">
					<label for="settingsRenderDisable" class="col-sm-2 col-form-label">Render Disable</label>
					<div class="col-sm-10">
						<select class="form-control" th:errorclass="is-invalid" id="settingsRenderDisable" th:field="*{renderDisable}">
							<option value="true">Yes</option>
							<option value="false">No</option>
						</select>
					</div>
				</div>
				<div class ="form-group row">
					<label for="settingsLeaderRenderDisable" class="col-sm-2 col-form-label">Leader Render Disable</label>
					<div class="col-sm-10">
						<select class="form-control" th:errorclass="is-invalid" id="settingsLeaderRenderDisable" th:field="*{leaderRenderDisable}">
							<option value="true">Yes</option>
							<option value="false">No</option>
						</select>
					</div>
				</div>
				<div class ="form-group row">
					<label for="settingsCpuBoost" class="col-sm-2 col-form-label">CPU Boost</label>
					<div class="col-sm-10">
						<select class="form-control" th:errorclass="is-invalid" id="settingsCpuBoost" th:field="*{cpuBoost}">
							<option value="true">Yes</option>
							<option value="false">No</option>
						</select>
					</div>
				</div>
				<div class ="form-group row">
					<label for="settingsLeaderCpuBoost" class="col-sm-2 col-form-label">Leader CPU Boost</label>
					<div class="col-sm-10">
						<select class="form-control" th:errorclass="is-invalid" id="settingsLeaderCpuBoost" th:field="*{leaderCpuBoost}">
							<option value="true">Yes</option>
							<option value="false">No</option>
						</select>
					</div>
				</div>
				<div class ="form-group row">
					<label for="settingsRamManager" class="col-sm-2 col-form-label">RAM Manager</label>
					<div class="col-sm-10">	
						<select class="form-control" th:errorclass="is-invalid" id="settingsRamManager" th:field="*{ramManager}">
							<option value="true">Yes</option>
							<option value="false">No</option>
						</select>
					</div>
				</div>
				<div class ="form-group row">
					<label for="settingsRamMin" class="col-sm-2 col-form-label">RAM Minimum</label>
					<div class="col-sm-10">
						<input type="number" min="1" max="1024" class="form-control" th:errorclass="is-invalid" id="settingsRamMin" th:field="*{ramMin}"/>
					</div>
				</div>
				<div class ="form-group row">
					<label for="settingsRamMax" class="col-sm-2 col-form-label">RAM Maximum</label>
					<div class="col-sm-10">
						<input type="number" min="1" max="1024" class="form-control" th:errorclass="is-invalid" id="settingsRamMax" th:field="*{ramMax}"/>
					</div>
				</div>
				<div class ="form-group row">
					<label for="settingsTimeoutLogin" class="col-sm-2 col-form-label">Login Timeout</label>
					<div class="col-sm-10">
						<input type="number" min="1" max="99" class="form-control" th:errorclass="is-invalid"  id="settingsTimeoutLogin" th:field="*{timeoutLogin}"/>
					</div>
				</div>
				<div class ="form-group row">
					<label for="settingsTimeoutLobby" class="col-sm-2 col-form-label">Lobby Timeout</label>
					<div class="col-sm-10">
						<input type="number" min="1" max="99" class="form-control" th:errorclass="is-invalid" id="settingsTimeoutLobby" th:field="*{timeoutLobby}"/>
					</div>
				</div>
				<div class ="form-group row">
					<label for="settingsTimeoutChamp" class="col-sm-2 col-form-label">Champion Select Timeout</label>
					<div class="col-sm-10">
						<input type="number" min="1" max="99" class="form-control" th:errorclass="is-invalid" id="settingsTimeoutChamp" th:field="*{timeoutChamp}"/>
					</div>
				</div>
				<div class ="form-group row">
					<label for="settingsTimeoutMastery" class="col-sm-2 col-form-label">Mastery Select Timeout</label>
					<div class="col-sm-10">
						<input type="number" min="1" max="99" class="form-control" th:errorclass="is-invalid" id="settingsTimeoutMastery" th:field="*{timeoutMastery}"/>
					</div>
				</div>
				<div class ="form-group row">
					<label for="settingsTimeoutLoadGame" class="col-sm-2 col-form-label">Load Game Timeout</label>
					<div class="col-sm-10">
						<input type="number" min="1" max="99" class="form-control" th:errorclass="is-invalid" id="settingsTimeoutLoadGame" th:field="*{timeoutLoadGame}"/>
					</div>
				</div>
				<div class ="form-group row">
					<label for="settingsTimeoutInGame" class="col-sm-2 col-form-label">In Game Timeout</label>
					<div class="col-sm-10">
						<input type="number" min="1" max="99" class="form-control" th:errorclass="is-invalid" id="settingsTimeoutInGame" th:field="*{timeoutInGame}"/>
					</div>
				</div>
				<div class ="form-group row">
					<label for="settingsTimeoutInGameFF" class="col-sm-2 col-form-label">In Game Timeout (FF)</label>
					<div class="col-sm-10">
						<input type="number" min="1" max="99" class="form-control" th:errorclass="is-invalid" id="settingsTimeoutInGameFF" th:field="*{timeoutInGameFF}"/>
					</div>
				</div>
				<div class ="form-group row">
					<label for="settingsTimeoutEndOfGame" class="col-sm-2 col-form-label">End Of Game Timeout</label>
					<div class="col-sm-10">
						<input type="number" min="1" max="99" class="form-control" th:errorclass="is-invalid" id="settingsTimeoutEndOfGame" th:field="*{timeoutEndOfGame}"/>
					</div>
				</div>
				<div class ="form-group row">
					<label for="settingsOpenChest" class="col-sm-2 col-form-label">Open Chest</label>
					<div class="col-sm-10">
						<select class="form-control" th:errorclass="is-invalid" id="settingsOpenChest" th:field="*{openChest}">
							<option value="true">Yes</option>
							<option value="false">No</option>
						</select>
					</div>
				</div>
				<div class ="form-group row">
					<label for="settingsOpenHexTech" class="col-sm-2 col-form-label">Open Hextech</label>
					<div class="col-sm-10">
						<select class="form-control" th:errorclass="is-invalid" id="settingsOpenHexTech" th:field="*{openHexTech}">
							<option value="true">Yes</option>
							<option value="false">No</option>
						</select>
					</div>
				</div>
				<div class ="form-group row">
					<label for="settingsDisChest" class="col-sm-2 col-form-label">Disenchant</label>
					<div class="col-sm-10">
						<select class="form-control" th:errorclass="is-invalid" id="settingsDisChest" th:field="*{disChest}">
							<option value="true">Yes</option>
							<option value="false">No</option>
						</select>
					</div>
				</div>
				<div class ="form-group row">
					<label for="settingsPrio" class="col-sm-2 col-form-label">Priority</label>
					<div class="col-sm-10">
						<input type="number" min="1" max="9" class="form-control" th:errorclass="is-invalid" id="settingsPrio" th:field="*{prio}"/>
					</div>
				</div>
				<div class ="form-group row">
					<div class="col-sm-10">
						<button type="submit" class ="btn btn-primary">Submit</button>
					</div>
				</div>
			</form>
		</div>
	</body>
</html>