<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<!--/*/ <th:block th:include="fragments/head :: head"/> /*/-->
	</head>
	<body>
		<!--/*/ <th:block th:include="fragments/mainNav :: mainNav"/> /*/-->
		<br/>
		<div class="container">
			<div class="row">
				<h1 class = "col-12 offset-sm-2 col-sm-8" >Change password</h1>
			</div>
			<div class="row">
				<div class = "col-12 offset-sm-2 col-sm-8 alert alert-success" th:if="${resultM != null}" th:text="${resultM}">Success!</div>
			</div>
			<div class="row">
				<div class = "col-12 offset-sm-2 col-sm-8 alert alert-success" th:if="${successM != null}" th:text="${successM}">Success!</div>
			</div>
			<div class="row">
				<div class = "col-12 offset-sm-2 col-sm-8 alert alert-danger" th:if="${failM != null}" th:inline="text">
					[[${failM}]]
					<ul>
						<li th:each="error : ${errorList}">
							[[${error}]]
						</li>
					</ul>
				</div>
			</div>
			<div class="row">				
				<div class = "col-12 offset-sm-2 col-sm-8 alert alert-info" th:if="${param.message != null}" th:text="${param.message[0]}">Info</div>
			</div>
			<div class="row">
				<div class = "col-12 offset-sm-2 col-sm-8 alert alert-danger"  th:if="${param.error != null}" th:text="${session[SPRING_SECURITY_LAST_EXCEPTION]}">error</div>
			</div>
			<form id="changePasswordForm" th:action="@{/user}" th:object="${passForm}" method="post">
				<div class="form-group row">
					<label for="oldpassword" class="col-12 offset-sm-2 col-sm-2 col-form-label"  >Current password:</label>
					<div class="col-12 col-sm-6">
						<input type="password" id="oldPassword" class="form-control" th:field="*{oldPassword}"/> 
					</div>
				</div>
				<div class="form-group row">
					<label for="password1" class="col-12 offset-sm-2 col-sm-2 col-form-label">New password:</label>
					<div class="col-12 col-sm-6">
						<input type="password" id="password" class="form-control" th:field="*{newPassword}"/>
					</div>
				</div>
				<div class="form-group row">
					<label for="password2" class="col-12 offset-sm-2 col-sm-2 col-form-label">Repeat new password:</label>
					<div class="col-12 col-sm-6">
						<input type="password" id="matchingPassword" class="form-control" th:field="*{matchingPassword}"/>
					</div>
				</div>
				<div class="form-group row">
					<button type="submit" id="ng-submitbut" class="col-12 offset-sm-2 col-sm-8 btn btn-primary btn-block">Change Password</button>
				</div>
			</form>
		</div>
		<script th:inline="javascript">
		/*<![CDATA[*/
			$(document).ready(function () {
				options = {
						common: {minChar:8},
						ui: {
							showVerdictsInsideProgressBar:true,
							showErrors:true,
							errorMessages:{
								wordLength: '<spring:message code="error.wordLength"/>',
								wordNotEmail: '<spring:message code="error.wordNotEmail"/>',
								wordSequences: '<spring:message code="error.wordSequences"/>',
								wordLowercase: '<spring:message code="error.wordLowercase"/>',
								wordUppercase: '<spring:message code="error.wordUppercase"/>',
								wordOneNumber: '<spring:message code="error.wordOneNumber"/>',
								wordOneSpecialChar: '<spring:message code="error.wordOneSpecialChar"/>'
							}
						}
					};
					$('#password').pwstrength(options);
			});
			
		/*]]>*/
		</script>
	</body>
</html>