<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<body th:fragment="mainNav">
	<nav class="navbar navbar-expand-md navbar-dark bg-dark" role="navigation">
		<a class="navbar-brand" th:href="@{/}">InfernalBot Manager</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li id="navHome" class="nav-item">
					<a class="nav-link" th:href="@{/}">Home <span class="sr-only">Home</span></a>
				</li>
				<li id="navAccounts" class="nav-item">
					<a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/accounts}">Accounts</a></li>
				<li id="navClients" class="nav-item">
					<a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/clients}">Clients</a>
				</li>
				<li id="navInfernalSettings" class="nav-item">
					<a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/infernalsettings}">IB Settings</a>
				</li>
				<li id="navAdmin" class="nav-item">
					<a class="nav-link" sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/admin}">Admin</a>
				</li>
				<li id="navSettings" class="nav-item">
					<a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/user}">User</a>
				</li>
				<li id="navLogin" class="nav-item">
					<a class="nav-link" sec:authorize="!isAuthenticated()" th:href="@{/login}">Login</a>
				</li>
				<li id="navLogout" class="nav-item">
					<a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/logout}">Logout</a>
				</li>
			</ul>
		</div>
	</nav>
</body>
</html>