<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<body th:fragment="mainNav">
	<nav class="navbar navbar-expand-md navbar-dark bg-dark" role="navigation">
		<a class="navbar-brand" href="#">InfernalBot Manager</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" th:href="@{/}">Home <span class="sr-only">Home</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/accounts}">Accounts</a></li>
				<li class="nav-item">
					<a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/clients}">Clients</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/infernalsettings}">IB Settings</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" sec:authorize="hasAuthority('ADMIN')" th:href="@{/admin}">Admin</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/user}">Settings</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" sec:authorize="!isAuthenticated()" th:href="@{/login}">Login</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/logout}">Logout</a>
				</li>
			</ul>
		</div>
	</nav>
</body>
</html>