<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body th:fragment="settingsNav">
	<div class="row">
		<ul class="col-12 offset-sm-1 col-sm-10 nav nav-tabs">
			<li class="nav-item">
				<a id="settingsNavClientSettings" class="nav-link" th:href="@{/settings/clientsettings}">ClientSettings</a>
			</li>
			<li class="nav-item">
				<a id="settingsNavInfernalSettings" class="nav-link" th:href="@{/settings/infernalsettings}">InfernalSettings</a>
			</li>
			<li class="nav-item">
				<a id="settingsNavImportSettings" class="nav-link" th:href="@{/settings/importsettings}">ImportSettings</a>
			</li>
			<li class="nav-item">
				<a id="settingsNavUserSettings" class="nav-link" th:href="@{/settings/usersettings}">UserSettings</a>
			</li>
		</ul>
	</div>
</body>
</html>