
td.details-control {
    background: url('../images/details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.details td.details-control {
    background: url('../images/details_close.png') no-repeat center center;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

.disabledTextArea {
	font-family:monospace;
	resize: none;
	
}

.disabledTextArea:first-line { 
	font-weight: bold;
}

.btn-margin-r{
    margin-right: 5px;
}

.btn-margin-l{
    margin-left: 5px;
}