.redRow {
	color: #d9534f !important;
}

a.buttons-collection {
        margin-left: 1em;
    }
    
td.details-control {
    background: url('../images/details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.details td.details-control {
    background: url('../images/details_close.png') no-repeat center center;
}