<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<!--/*/ <th:block th:include="fragments/head :: head"/> /*/-->
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
		<script type="text/javascript" src="//cdn.datatables.net/plug-ins/1.10.16/sorting/datetime-moment.js"></script>
		<script th:inline="javascript">
		/*<![CDATA[*/
		var editor; 
		var restlnk = "/api/clients/user/" + /*[[${currentUser.id}]]*/;
		var clientSettingsMap = /*[[${clientSettingsMap}]]*/;
		var infernalSettingsMap = /*[[${infernalSettingsMap}]]*/;
		
		$(document).ready(function() {			
			editor = new $.fn.dataTable.Editor( {
					ajax: {
						create: {
							type: 'POST',
							dataType: "json",
							contentType: "application/json; charset=utf-8",
							url: restlnk ,
							data: function ( d ) {
								return JSON.stringify( d['data'] );
							}
						},
						edit: {
							type: 'PUT',
							dataType: "json",
							contentType: "application/json; charset=utf-8",
							url: restlnk,
							data: function ( d ) {
								return JSON.stringify( d['data'] );
							}
						},
						remove: {
							type: 'POST',
							contentType: "application/json; charset=utf-8",
							dataType: "json",
							url: restlnk + "/delete",
							data: function ( d ) {
								return JSON.stringify( d['data'] );
							}
						}
					},
					table: "#infernalbotmanager-datatable-clients",
					fields: [{
						label: "ID",
						name: "id",
						def: "0",
						type: "hidden",
					},{
						label: "Tag",
						name: "tag"
					},{
						label: "ClientSettings",
						name: "clientSettings",
						type: "select"
					},{
						label: "InfernalSettings",
						name: "infernalSettings",
						type: "select"
					}],
					idSrc:'id'
			} );
		
			var table = $('#infernalbotmanager-datatable-clients').DataTable( {
				responsive: true,
				dom: "<'row'<'col-9'B><'col-3 float-right'f>>rtip",
				pageLength: 50,
				scrollX: true,
				ajax:{
					"url": restlnk ,
					"dataSrc": "data",
					"dataType": "json",
					"cache": false,
					"contentType": "application/json; charset=utf-8"
				},
				columns: [
				{ data: "id" },
				{ data: "tag"},
				{ data: "clientSettings",
					render: function ( data, type, row ) {
						return clientSettingsMap[data];
					}
				},
				{ data: "infernalSettings",
					render: function ( data, type, row ) {
						return infernalSettingsMap[data];
					}
				}
				],
				select: true,
				buttons: [
				{ extend: "create", editor: editor },
				{ extend: "editSingle",   editor: editor },
				{ extend: "remove", editor: editor }
				]
			} );
			fillClientSettingsOptions();
			fillInfernalSettingsOptions();
		} );
		
		//Select fields opvullen

		var fillClientSettingsOptions = function(){
			var clientSettingsOptions = [];
			var option = {};
			$.each(clientSettingsMap, function(i, e) {
				option.value = i;
				option.label = e;
			 	clientSettingsOptions.push(option);
			 	option = {};
			});
			editor.field('clientSettings').update(clientSettingsOptions);
		};
		
		var fillInfernalSettingsOptions = function(){
			var infernalSettingsOptions = [];
			var option = {};
			$.each(infernalSettingsMap, function(i, e) {
				option.value = i;
				option.label = e;
				infernalSettingsOptions.push(option);
			 	option = {};
			});
			editor.field('infernalSettings').update(infernalSettingsOptions);
		};
		
		/*]]>*/
		</script>
	</head>
	<body>
	<body>
		<!--/*/ <th:block th:include="fragments/mainNav :: mainNav"/> /*/-->
		<br/>
		<table id="infernalbotmanager-datatable-clients" class="table table-striped table-bordered nowrap" style="width:100%" >
			<thead>
				<tr>
					<th>ID</th>
					<th>Tag</th>
					<th>ClientSettings</th>
					<th>InfernalSettings</th>
				</tr>
			</thead>
		</table>
	</body>
	</body>
</html>