<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<!--/*/ <th:block th:include="fragments/head :: head"/> /*/-->
		<script th:inline="javascript">
			var serverContext = [[@{/}]];
			$(document).ready(function() {
				$('#resetpass').on('submit', function(e){
					e.preventDefault();
					var email = $("#email").val();
					$.post(serverContext + "resetPassword",{email: email} , function(data){
						console.log(data);
						$("#success").show().html(data.message);
					})
					.fail(function(data) {
						console.log(data);
						if(data.responseJSON.error.indexOf("MailError") > -1){
							//window.location.href = serverContext + "emailError.html";
							$("#error").show().html(data.responseJSON.message);
						} else{
							$("#error").show().html(data.responseJSON.message);
						}
					});
				});
			});
		</script>
	</head>
	<body>
		<!--/*/ <th:block th:include="fragments/mainNav :: mainNav"/> /*/-->
		<div class="container">
			<div class="row">
				<h1 class = "col-12 offset-sm-2 col-sm-8" >Reset password</h1>
			</div>
			<div class="row">
				<div id="success" class = "col-12 offset-sm-2 col-sm-8 alert alert-success" style="display: none">Success</div>
			</div>
			<div class="row">
				<div id="error" class = "col-12 offset-sm-2 col-sm-8 alert alert-danger" style="display: none" >Error</div>
			</div>
			<form name="resetpass" id="resetpass" action="/" method="post" enctype="utf8">
				<div class ="form-group row">
					<label for="email" class="col-12 offset-sm-2 col-sm-2 col-form-label">Email:</label>
					<div class="col-12 col-sm-6">
						<input type="text" class="form-control" id="email" name="email" autofocus="autofocus"/>
						<span id="emailError" class="invalid-feedback" style="display:none"></span>
					</div>
				</div>
				<div class ="form-group row">
					<div class="col-12 offset-sm-2 col-sm-8">
						<button type="submit" class ="btn btn-primary btn-block">Reset</button>
					</div>
				</div>
			</form>
			<div class="row">
				<div class = "col-12 offset-sm-2 col-sm-8">
					<a class="btn btn-secondary btn-block" th:href="@{/login}">Log in</a>
				</div>
			</div>
			<br />
			<div class="row">
				<div class = "col-12 offset-sm-2 col-sm-8">
					<a class="btn btn-secondary btn-block" th:href="@{/registration}">Register</a>
				</div>
			</div>
		</div>
	</body>
</html>