<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
	<head>
		<!--/*/ <th:block th:include="fragments/head :: head"/> /*/-->
		<script th:inline="javascript">
			$(document).ready(function() {
				$( "#navHome" ).addClass( "active" );
			});
		</script>
	</head>
	<body>
		<!--/*/ <th:block th:include="fragments/mainNav :: mainNav"/> /*/-->
		<div class="jumbotron">
			<div class="container">
				<h1 class="display-4">InfernalBot Manager <small class="text-muted">BETA</small></h1>
				<p class="lead">Automate your bot to the next level.</p>
				<hr class="my-4"></hr>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-12 col-md-4">
					<h2>Features</h2>
					<ul class= "list-unstyled">
						<li>Centralized account management.</li>
						<li>Centralized settings management.</li>
						<li>Retrieve info for all running clients.</li>
						<li>Manage windows reboots.</li>
						<li>Crash checker &amp; InfernalBot restarter.</li>
						<li>Mobile friendly.</li>
						<li>AutoUpdater.</li>
					</ul>
					<p><a class="btn btn-secondary" href="/registration" role="button">Register now &raquo;</a></p>
				</div>
				<div class="col-12 col-md-4">
					<h2>Installation</h2>
					<ul class = "list-unstyled">
						<li><a href="/registration">Register</a> your account.</li>
						<li>Confirm your email to activate your account.</li>
						<li>Enter your <a href="/accounts">accounts</a> and <a href="/infernalsettings">InfernalBot settings</a>.</li>
						<li>Download and install <a href="https://www.java.com/en/">Java 8</a>.</li>
						<li>Download and unzip the program.</li>
						<li>Edit your settings.ini file</li>
						<li>Add InfernalBotManager to startup.</li>
					</ul>
					<p><a class="btn btn-secondary" href="/download/InfernalBotManagerClient.zip" role="button">Download program &raquo;</a></p>
				</div>
				<div class="col-12 col-md-4">
					<h2>Development</h2>
					<ul class="list-unstyled">
						<li>InfernalBotManager is currently in free <small class="text-muted">BETA</small>.</li>
						<li>Additional features are still in development and bugs may occur.</li>
						<li>Please report any issues or suggestions you may have on our discord.</li>
					</ul>
					<p><a class="btn btn-secondary" href="#" role="button">Join us on Discord &raquo;</a></p>
				</div>
			</div>
			<hr />
			<footer>
				<p>&copy; 2018 Alco.</p>
			</footer>
		</div>
	</body>
</html>