<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
	<head>
		<!--/*/ <th:block th:include="fragments/head :: head"/> /*/-->
		<script th:inline="javascript">
			$(document).ready(function() {
				$( "#navHome" ).addClass( "active" );
			});
		</script>
	</head>
	<body>
		<!--/*/ <th:block th:include="fragments/mainNav :: mainNav"/> /*/-->
		<div class="jumbotron">
			<div class="container">
				<h1 class="display-4">InfernalBot Manager <small class="text-muted">BETA</small></h1>
				<p class="lead">Automate your bot to the next level.</p>
				<hr class="my-4"></hr>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-12 col-md-4">
					<h2>Features</h2>
					<ul class= "list-unstyled">
						<li>Centralized account management.</li>
						<li>Centralized settings management.</li>
						<li>Retrieve info for all running clients.</li>
						<li>Manage windows reboots.</li>
						<li>Crash checker &amp; InfernalBot restarter.</li>
						<li>Mobile friendly.</li>
						<li>AutoUpdater.</li>
					</ul>
					<p><a class="btn btn-secondary" href="/registration" role="button">Register now &raquo;</a></p>
				</div>
				<div class="col-12 col-md-4">
					<h2>Installation</h2>
					<ul class = "list-unstyled">
						<li><a href="/registration">Register</a> your account.</li>
						<li>Confirm your email to activate your account.</li>
						<li>Enter your <a href="/accounts">accounts</a> and <a href="/infernalsettings">InfernalBot settings</a>.</li>
						<li>Download and install <a href="http://javadl.oracle.com/webapps/download/AutoDL?BundleId=230540_2f38c3b165be4555a1fa6e98c45e0808">Java 8 (32bit)</a>.</li>
						<li><a href="/downloads/InfernalBotManagerClient.rar">Download</a> and unzip the program.</li>
						<li>Edit your settings.ini file</li>
						<li>Add InfernalBotManager to startup.</li>
					</ul>
					<p><a class="btn btn-secondary" href="/downloads/InfernalBotManagerClient.rar" role="button">Download program &raquo;</a></p>
				</div>
				<div class="col-12 col-md-4">
					<h2>Development</h2>
					<ul class="list-unstyled">
						<li>InfernalBotManager is currently in free <small class="text-muted">BETA</small>.</li>
						<li>It's a work in progress so feel free to give suggestions.</li>
						<li>Additional features are still in development.</li>
						<li>Bugs may occur.</li>
						<li>Please report any issues you may have on our discord.</li>
					</ul>
					<p><a class="btn btn-secondary" href="https://discord.gg/mEfGxPz" role="button">Join us on Discord &raquo;</a></p>
				</div>
			</div>
			<hr />
			<footer>
				<p>&copy; 2018 Alco.</p>
			</footer>
		</div>
	</body>
</html>