<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
	<head>
		<!--/*/ <th:block th:include="fragments/head :: head"/> /*/-->
	</head>
	<body>
		<div class="container">
			<div class="row">
				<!--/*/ <th:block th:include="fragments/mainNav :: mainNav"/> /*/-->
			</div>
			<div class="row">
				<div class="jumbotron">
					<h1>Index page</h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus luctus risus at mauris semper viverra. Nunc luctus dapibus est, non faucibus dolor fringilla sed. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Curabitur iaculis rutrum risus nec tempor. Nulla suscipit sed augue nec auctor. Maecenas luctus ultrices consectetur. Proin nec nibh ut nisl porta faucibus eget in tortor. Aenean lobortis condimentum tortor a venenatis. Curabitur pellentesque vitae urna et sagittis. Nullam fringilla sodales est ut dapibus.</p> 
				</div>
			</div>
		</div>
	</body>
</html>