<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<!--/*/ <th:block th:include="fragments/head :: head"/> /*/-->
	</head>
	<body>
		<div class="container">
			<div class="row">
				<!--/*/ <th:block th:include="fragments/mainNav :: mainNav"/> /*/-->
			</div>
			<div class="row">
				<div class="col-xs-offset-2 col-xs-8">
					<h1>Login</h1>
					<div th:if="${param.message != null}" class="alert alert-info" th:text="${param.message[0]}">message</div>
					<div th:if="${param.error != null}" class="alert alert-danger" th:text="${session[SPRING_SECURITY_LAST_EXCEPTION]}">error</div>
					<form name="login" th:action="@{/login}" method="post">
						<label for="username">Username:</label>
						<input type="text" id="username" name="username" autofocus="autofocus" /> <br />
						<label for="password">Password:</label>
						<input type="password" id="password" name="password" /> <br />
						<input type="submit" value="Log in" />
					</form>
				</div>
			</div>
		</div>
	</body>
</html>