<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<!--/*/ <th:block th:include="fragments/head :: head"/> /*/-->
	</head>
	<body>
		<!--/*/ <th:block th:include="fragments/mainNav :: mainNav"/> /*/-->
		<div class="container">
			<div class="row">
				<h1 class = "col-12 offset-sm-2 col-sm-8" >Register</h1>
			</div>
			<div class="row">
				<div id="success" class = "col-12 offset-sm-2 col-sm-8 alert alert-success" style="display: none">Success</div>
			</div>
			<div class="row">
				<div id="error" class = "col-12 offset-sm-2 col-sm-8 alert alert-danger" style="display: none" >Error</div>
			</div>
			<form name="register" action="/" method="post" enctype="utf8">
				<div class ="form-group row">
					<label for="username" class="col-12 offset-sm-2 col-sm-2 col-form-label">Email:</label>
					<div class="col-12 col-sm-6">
						<input type="text" class="form-control" id="email" name="email" autofocus="autofocus"/>
						<span id="emailError" class="alert alert-danger col-sm-4" style="display:none"></span>
					</div>
				</div>
				 <span id="firstNameError" class="alert alert-danger col-sm-4" style="display:none"></span>
				<div class ="form-group row">
					<label for="password" class="col-12 offset-sm-2 col-sm-2 col-form-label">Password:</label>
					<div class="col-12 col-sm-6">
						<input type="password" class="form-control" id="password" name="password" autofocus="autofocus"/>
						<span id = "passwordError" class="invalid-feedback" style="display:none"></span>
					</div>
				</div>
				<div class ="form-group row">
					<label for="matchingPassword" class="col-12 offset-sm-2 col-sm-2 col-form-label">Confirm password:</label>
					<div class="col-12 col-sm-6">
						<input type="password" class="form-control" id="matchingPassword" name="matchingPassword" autofocus="autofocus"/>
						<span id = "globalError" class="invalid-feedback" style="display:none"></span>
						<span id = "passwordMatchesError" class="invalid-feedback" style="display:none"></span>
					</div>
				</div>
				<div class ="form-group row">
					<div class="col-12 offset-sm-2 col-sm-8">
						<button type="submit" class ="btn btn-primary btn-block">Register</button>
					</div>
				</div>
			</form>
			<div class="row">
				<div class = "col-12 offset-sm-2 col-sm-8">
					<a class="btn btn-secondary btn-block" th:href="@{/login.html}">Log in</a>
				</div>
			</div>
		</div>
		<script th:inline="javascript">
		/*<![CDATA[*/
			var serverContext = [[@{/}]];
		
			$(document).ready(function () {
				$(".alert").html("").hide()
				$('form').submit(function(event) {
					register(event);
				});
				
				options = {
						common: {minChar:8},
						ui: {
							showVerdictsInsideProgressBar:true,
							showErrors:true,
							errorMessages:{
								wordLength: '<spring:message code="error.wordLength"/>',
								wordNotEmail: '<spring:message code="error.wordNotEmail"/>',
								wordSequences: '<spring:message code="error.wordSequences"/>',
								wordLowercase: '<spring:message code="error.wordLowercase"/>',
								wordUppercase: '<spring:message code="error.wordUppercase"/>',
								wordOneNumber: '<spring:message code="error.wordOneNumber"/>',
								wordOneSpecialChar: '<spring:message code="error.wordOneSpecialChar"/>'
							}
						}
					};
					$('#password').pwstrength(options);
			});
			
			function register(event){
				$(".alert").html("").hide()
				$(".invalid-feedback").html("").hide()
				event.preventDefault();
				var formData= $('form').serialize();
				$.post(serverContext + "registration",formData ,function(data){
					 if(data.message == "Success"){
						 $("#success").show().html("Succesfully registered, confirm your email.");
					}
				})
				.fail(function(data) {
					if(data.responseJSON.error.indexOf("MailError") > -1){
						window.location.href = serverContext + "emailError";
					} else if(data.responseJSON.message.indexOf("EmailExistsException") > -1){
						$("#error").show().html("A user with that email already exists");
						
					} else if(data.responseJSON.error.indexOf("InternalError") > -1){
						$("#error").show().html(data.responseJSON.message);
					}else if(data.responseJSON.error == "EmailAlreadyExists"){
						$("#error").show().html(data.responseJSON.message);
					} else {
						var errors = $.parseJSON(data.responseJSON.message);
						$.each( errors, function( index,item ){
							$("#"+item.field+"Error").show().html(item.defaultMessage+"<br/>");
						});
						errors = $.parseJSON(data.responseJSON.error);
						$.each( errors, function( index,item ){
							$("#globalError").show().append(item.defaultMessage+"<br/>");
						});
					}
				});
			}
		/*]]>*/
		</script>
	</body>
</html>