<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<!--/*/ <th:block th:include="fragments/head :: head"/> /*/-->
	</head>
	<body>
		<div class="container">
			<div class="row">
				<!--/*/ <th:block th:include="fragments/mainNav :: mainNav"/> /*/-->
			</div>
			<div class="row">
				<div class="col-xs-12">
					<table class="table table-striped table-bordered" width="100%" >
						<thead>
							<tr>
								<th>Name</th>
								<th>User</th>
								<th>Account</th>
								<th>Last Run</th>
								<th>Next Run</th>
								<th>Tools</th>
							</tr>
						</thead>
						<tfoot>
							<tr>
								<td colspan="8">
									<a th:href="@{'/admin/tasks/create/'}" class="btn btn-default">Add Task <span class="glyphicon glyphicon-plus"></span></a>
								</td>
							</tr>
						</tfoot>
						<tbody>
							<tr th:each="result : ${results}">
								<td th:text="${result.jobName}">FieldNotFound</td>
								<td th:text="${result.twitterAccount == null} ? 'SYSTEM' : ${result.twitterAccount.user.username}">FieldNotFound</td>
								<td th:text="${result.twitterAccount == null} ? 'SYSTEM' : ${result.twitterAccount.handle}">FieldNotFound</td>
								<td th:text="${result.trigger == null} ? 'NO TRIGGER!' :${result.trigger.previousFireTime}">FieldNotFound</td>
								<td th:text="${result.trigger == null} ? 'NO TRIGGER!' :${result.trigger.nextFireTime}">FieldNotFound</td>
								<td>
									<a th:href="@{'/admin/tasks/' + ${result.jobName} + '/' + ${result.twitterId} + '/' + ${result.triggerName} + '/delete/'}"><span class="glyphicon glyphicon-remove"></span></a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</body>
</html>