<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<!--/*/ <th:block th:include="fragments/head :: head"/> /*/-->
		<script th:inline="javascript">
		/*<![CDATA[*/
			var baselnk = "/api/settings/user/" + /*[[${currentUser.id}]]*/;
			var restlnk = baselnk + "/clientsettings/";
			var settingid;
			//TODO: add th:errorclass="is-invalid" on invalid fields?
		
			//Shortcuts for put and delete
			jQuery.each( [ "put", "delete" ], function( i, method ) {
				jQuery[ method ] = function( url, data, callback, type ) {
					if ( jQuery.isFunction( data ) ) {
						type = type || callback;
						callback = data;
						data = undefined;
					}
 
					return jQuery.ajax({
						url: url,
						type: method,
						dataType: type,
						data: data,
						success: callback
					});
				};
			});
			
			$(document).ready(function() {
				$( "#navSettings" ).addClass( "active" );
				$( "#settingsNavClientSettings" ).addClass( "active" );
				
				//User selected settings from the list
				$( "#selectedClientSettings" ).change(function() {
					//Vars
					var selectedSettingsId = $(this).val();
					var selectRestlnk = restlnk + selectedSettingsId;
					
					//Reset error and succes alerts
					resetMessages();
					
					//AJAX Request
					$.get(selectRestlnk ,function(data){
						//Fill fields on success
						var clientSettings = data.data;
						Object.keys(data.data).forEach(function(k){
							$element = $("#"+k+"Field");
							if( $element.is('select') ) {
								$("#"+k+"Field option[value="+ clientSettings[k] +"]").prop('selected', true);
							} else {
								$element.val(clientSettings[k]);
							}
						});
						checkRebootField();
						resetButtons("Save");
						$("#clientsettingsForm").show();
					})
					.fail(function(data) {
						//Show error on fail
						$("#errorMsg div span").text(data.responseJSON.message);
						$("#errorMsg").show();
						$('#clientsettingsForm').trigger("reset");
						$("#clientsettingsForm").hide();
					})
				});
				
				//User changed the reboot field
				$( "#rebootField" ).change(function() {
					checkRebootField();
				});
				
				//user wants to create new settings
				$( "#newClientSettings" ).click(function() {
					$('#clientsettingsForm').trigger("reset");
					resetMessages();
					resetButtons("Create");
					$("#selectedClientSettings option[value='0']").text("Creating new client settings").prop('selected', true);
					$("#rebootField").val("false").change();
					$("#clientsettingsForm").show();
				});
				
				//user wants to copy current selected settings
				$( "#copyClientSettings" ).click(function() {
					resetMessages();
					var selectedS = $('#selectedClientSettings').find(":selected").val();
					if(selectedS != 0){
						$("#selectedClientSettings option[value='0']").text("Creating new client settings").prop('selected', true);
						$("#idField").val("0");
						$("#nameField").val("");
						resetButtons("Create");
						$("#clientsettingsForm").show();
					} else {
						$( "#errorMsg div span" ).text("No client settings selected");
						$(" #errorMsg" ).show();
					}
				});
			
				//post request to create the new settings
				$( "#submitCreate" ).click(function() {
					//vars
					var formData= $("#clientsettingsForm").serialize();
					
					//Reset error and succes alerts
					resetMessages();
					
					//Button change
					$('#submitCreate').html("Creating...").attr('disabled','disabled');
					
					//AJAX Request
					$.post(restlnk, formData ,function(data){
						//Created data
						var newClientSettingsData = data.data;
						
						//Set the ID
						$('#idField').val(newClientSettingsData.id);
						
						//Add to select
						$('#selectedClientSettings').append($("<option></option>").attr("value",newClientSettingsData.id).text(newClientSettingsData.name).prop('selected', true));
						
						//Show alert on success
						$("#successMsg div span").text("Succesfully created new client settings");
						$("#successMsg").show();
						
						//reset Buttons
						resetButtons("Save");
					})
					.fail(function(data) {
						console.log(data);
						if(data.responseJSON.error == "SettingsAlreadyExistError"){
							$("#errorMsg div span").text(data.responseJSON.message);
							$("#nameField").addClass("is-invalid");
						} else {
							//fieldErrors
							var errors = $.parseJSON(data.responseJSON.message);
							$.each( errors, function( index,item ){
								$("#"+item.field+"Error").show().html(item.defaultMessage);
								$("#"+item.field+"Field").addClass("is-invalid");
							});
							
							//globalErrors
							errors = $.parseJSON(data.responseJSON.error);
							$.each( errors, function( index,item ){
								$("#errorMsg div span").append(item.defaultMessage+"<br/>");
							});
						}
						//Show the errorMessage
						$("#errorMsg").show();
						//reset Buttons
						resetButtons("Create");
					})
					
				});
				
				
				//put request to save the settings
				$( "#submitSave" ).click(function() {
					//vars
					var formData= $("#clientsettingsForm").serialize();
					
					//Reset error and succes alerts
					resetMessages();
					
					//Button change
					$('#submitSave').html("Saving...").attr('disabled','disabled');
					
					//AJAX Request
					$.put(restlnk, formData ,function(data){
						//updated data
						var updatedClientSettingsData = data.data;
						
						//change the select option (may have changed name)
						$("#selectedClientSettings option[value='"+ updatedClientSettingsData.id +"']").text(updatedClientSettingsData.name).prop('selected', true);
						
						//Show alert on success
						$("#successMsg div span").text("Succesfully saved client settings");
						$("#successMsg").show();
						
						//reset Buttons
						resetButtons("Save");
					})
					.fail(function(data) {
						console.log(data);
						if(data.responseJSON.error == "SettingsAlreadyExistError"){
							$("#errorMsg div span").text(data.responseJSON.message);
							$("#nameField").addClass("is-invalid");
						} else if(data.responseJSON.error == "SettingsNotFoundError"){
							$("#errorMsg div span").text(data.responseJSON.message);
						} else if(data.responseJSON.error == "AccessError"){
							$("#errorMsg div span").text(data.responseJSON.message);
						} else {
							//fieldErrors
							var errors = $.parseJSON(data.responseJSON.message);
							$.each( errors, function( index,item ){
								$("#"+item.field+"Error").show().html(item.defaultMessage);
								$("#"+item.field+"Field").addClass("is-invalid");
							});
							
							//globalErrors
							errors = $.parseJSON(data.responseJSON.error);
							$.each( errors, function( index,item ){
								$("#errorMsg div span").append(item.defaultMessage+"<br/>");
							});
						}
						//Show the errorMessage
						$("#errorMsg").show();
						//reset Buttons
						resetButtons("Save");
					})
					
				});
			});
			
			function resetMessages(){
				$( "#errorMsg div span" ).text("");
				$(" #errorMsg" ).hide();
				$( "#successMsg div span" ).text("");
				$(" #successMsg" ).hide();
				resetInputClasses();
				$("#selectedClientSettings option[value='0']").text("Select client settings");
			}
			
			function resetInputClasses(){
				$('input').removeClass('is-invalid');
				$('.invalid-feedback').hide().html("");
			}
			
			function resetButtons(buttonType){
				if (buttonType == "Create"){
					$("#createDiv").show();
					$('#submitCreate').html("Create").removeAttr('disabled');
					$("#saveDiv").hide();
					$('#submitSave').html("Save").attr('disabled','disabled');
				} else {
					$("#saveDiv").show();
					$('#submitSave').html("Save").removeAttr('disabled');
					$("#createDiv").hide();
					$('#submitCreate').html("Create").attr('disabled','disabled');
				}
			}
			
			function checkRebootField(){
				var selectedRebootValue = $('#rebootField').val();
				if(selectedRebootValue === "true"){
					$('#rowRebootTime').show();
				} else {
					$('#rowRebootTime').hide();
					$('#rebootTimeField').val(0);
				}
			}
		/*]]>*/
		</script>
	</head>
	<body>
		<!--/*/ <th:block th:include="fragments/mainNav :: mainNav"/> /*/-->
		<br />
		<div class="container">
			<!--/*/ <th:block th:include="fragments/settingsNav :: settingsNav"/> /*/-->
			<br />
			<div class="row" id="successMsg" style="display:none">
				<div class = "col-12 offset-sm-1 col-sm-10 alert alert-success"><span></span></div>
			</div>
			<div class="row" id="errorMsg" style="display:none">
				<div class = "col-12 offset-sm-1 col-sm-10 alert alert-danger"><span></span></div>
			</div>
			<div class="row" >
				<select class="custom-select col-12 offset-sm-1 col-sm-8" id="selectedClientSettings">
					<option value="0" disabled="disabled" selected="selected">Select client settings</option>
					<option th:each="clientSettings : ${clientSettingsList}" th:value="${clientSettings.id}" th:text="${clientSettings.name}">settings</option>
				</select>
				<button type="button" class="col-6 col-sm-1 btn btn-secondary" id="newClientSettings"><span class="fa fa-plus"></span></button>
				<button type="button" class="col-6 col-sm-1 btn btn-secondary" id="copyClientSettings"><span class="fa fa-copy"></span></button>
			</div>
			<br />
			<form name="clientsettingsForm" id="clientsettingsForm" action="/" method="post" enctype="utf8" style="display:none">
				<input type="hidden" name="id" id="idField" value="0" />
				<div class ="form-group row">
					<label for="nameField" class="col-12 offset-sm-1 col-sm-4 col-form-label">Name</label>
					<div class="col-12  col-sm-6">
						<input type="text" name="name" class="form-control" id="nameField"/>
						<span id="nameError" class="invalid-feedback" style="display:none"></span>
					</div>
				</div>
				<div class ="form-group row">
					<label for="clientRegionField" class="col-12 offset-sm-1 col-sm-4 col-form-label">Region</label>
					<div class="col-12  col-sm-6">
						<select class="form-control" name="clientRegion" id="clientRegionField">
							<option th:each="region : ${T(net.nilsghesquiere.util.enums.Region).values()}" th:value="${region}" th:text="${region}"></option>
						</select>
						<span id="regionError" class="invalid-feedback" style="display:none"></span>
					</div>
				</div>
				<div class ="form-group row" >
					<label for="infernalPathField" class="col-12 offset-sm-1 col-sm-4 col-form-label">Infernal Path</label>
					<div class="col-12  col-sm-6">
						<input type="text" class="form-control" name="infernalPath" id="infernalPathField"/>
						<span id="infernalPathError" class="invalid-feedback" style="display:none"></span>
					</div>
				</div>
				<div class ="form-group row">
					<label for="queuerAmountField" class="col-12 offset-sm-1 col-sm-4 col-form-label">Queuers</label>
					<div class="col-12  col-sm-6">
						<input type="number" class="form-control"  id="queuerAmountField"/>
						<span id="queuerAmountError" class="invalid-feedback" style="display:none"></span>
					</div>
				</div>
				<div class ="form-group row">
					<label for="accountBufferAmountField" class="col-12 offset-sm-1 col-sm-4 col-form-label">Account Buffer</label>
					<div class="col-12  col-sm-6">
						<input type="number" class="form-control" name="accountBufferAmount" id="accountBufferAmountField"/>
						<span id="accountBufferAmountError" class="invalid-feedback" style="display:none"></span>
					</div>
				</div>
				<div class ="form-group row">
					<label for="uploadNewAccountsField" class="col-12 offset-sm-1 col-sm-4 col-form-label">Upload new accounts</label>
					<div class="col-12  col-sm-6">
						<select class="form-control" name="uploadAccounts" id="uploadNewAccountsField">
							<option value="true">Yes</option>
							<option value="false">No</option>
						</select>
						<span id="uploadNewAccountsError" class="invalid-feedback" style="display:none"></span>
					</div>
				</div>
				<div class ="form-group row">
					<label for="rebootField" class="col-12 offset-sm-1 col-sm-4 col-form-label">Reboot</label>
					<div class="col-12  col-sm-6">
						<select class="form-control" name="reboot" id="rebootField">
							<option value="true">Yes</option>
							<option value="false">No</option>
						</select>
						<span id="rebootError" class="invalid-feedback" style="display:none"></span>
					</div>
				</div>
				<div class ="form-group row" id="rowRebootTime">
					<label for="rebootTimeField" class="col-12 offset-sm-1 col-sm-4 col-form-label">Reboot time (in seconds)</label>
					<div class="col-12  col-sm-6">
						<input type="number" class="form-control" name="rebootTime" id="rebootTimeField"/>
						<span id="rebootTimeError" class="invalid-feedback" style="display:none"></span>
					</div>
				</div>
				<div class ="form-group row">
					<label for="fetchInfernalSettingsField" class="col-12 offset-sm-1 col-sm-4 col-form-label">Fetch Infernal Settings</label>
					<div class="col-12  col-sm-6">
						<select class="form-control" name="fetchInfernalSettings" id="fetchInfernalSettingsField">
							<option value="true">Yes</option>
							<option value="false">No</option>
						</select>
						<span id="fetchInfernalSettingsError" class="invalid-feedback" style="display:none"></span>
					</div>
				</div>
				<div class ="form-group row">
					<label for="actionOnNoQueuersField" class="col-12 offset-sm-1 col-sm-4 col-form-label">Action No Queuers:</label>
					<div class="col-12  col-sm-6">
						<select class="form-control" name="actionOnNoQueuers" id="actionOnNoQueuersField">
							<option th:each="action : ${T(net.nilsghesquiere.util.enums.ActionOnNoQueuers).values()}" th:value="${action}" th:text="${action}"></option>
						</select>
						<span id="actionOnNoQueuersError" class="invalid-feedback" style="display:none"></span>
					</div>
				</div>
				<div class ="form-group row">
					<label for="debugField" class="col-12 offset-sm-1 col-sm-4 col-form-label">Debug Mode</label>
					<div class="col-12  col-sm-6">
						<select class="form-control" name="debug" id="debugField">
							<option value="true">Yes</option>
							<option value="false">No</option>
						</select>
						<span id="debugError" class="invalid-feedback" style="display:none"></span>
					</div>
				</div>
				<div class ="form-group row" id="createDiv" style="display:none">
					<div class="col-12 offset-sm-1 col-sm-10">
						<button type="button" class ="btn btn-primary btn-lg btn-block" id="submitCreate">Create</button>
					</div>
				</div>
				<div class ="form-group row" id="saveDiv" style="display:none">
					<div class="col-12 offset-sm-1 col-sm-10">
						<button type="button" class ="btn btn-primary btn-lg btn-block" id="submitSave">Save</button>
					</div>
				</div>
			</form>
		</div>
	</body>
</html>