<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<!--/*/ <th:block th:include="fragments/head :: head"/> /*/-->
		<script th:inline="javascript">
			$(document).ready(function() {
				$( "#navSettings" ).addClass( "active" );
				$( "#settingsNavClientSettings" ).addClass( "active" );
				$( "#selectedClientSettings" ).change(function() {
					//request
				});
				$( "#newClientSettings" ).click(function() {
					//request
				});
				$( "#copyClientSettings" ).click(function() {
					//request
				});
			
			});
			
		</script>
	</head>
	<body>
		<!--/*/ <th:block th:include="fragments/mainNav :: mainNav"/> /*/-->
		<br />
		<div class="container">
			<!--/*/ <th:block th:include="fragments/settingsNav :: settingsNav"/> /*/-->
			<br />
			<div class="row" >
				<select class="custom-select col-10 offset-sm-1 col-sm-8" id="selectedClientSettings">
					<option th:each="clientSettings : ${clientSettingsList}" th:value="clientSettings" th:text="${clientSettings.name}">settings</option>
				</select>
				<button type="button" class="col-1 btn btn-secondary btn-margin-l" id="newClientSettings"><span class="fa fa-plus"></span></button>
				<button type="button" class="col-1 btn btn-secondary btn-margin-l" id="copyClientSettings"><span class="fa fa-copy"></span></button>
			</div>
			</div>
	</body>
</html>