<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<!--/*/ <th:block th:include="fragments/head :: head"/> /*/-->
		<script th:inline="javascript">
			$(document).ready(function() {
				$( "#navSettings" ).addClass( "active" );
				$( "#settingsNavClients" ).addClass( "active" );
			});
		</script>
	</head>
	<body>
		<!--/*/ <th:block th:include="fragments/mainNav :: mainNav"/> /*/-->
		<br />
		<div class="container">
			<!--/*/ <th:block th:include="fragments/settingsNav :: settingsNav"/> /*/-->
			<br />
		</div>
	</body>
</html>